.plan
  %h1= t('.title')
  .plan.list
    %ol
      %li Пару слов о технологиях, список требований к блогу
      %li Создание проекта, установление соединения с БД, Hello World контроллер
      %li Создание структуры базы данных, создание публикации, тестирование
      %li Создание CRUD для публикаций, тестирование
      %li Добавление разметки markdown для публикаций
      %li Добавление поиска по публикациям
      %li Вход через Github
      %li Права доступа
      %li Создание тегов, контроллера тегов, тестирование
      %li Добавление древовидных комментариев, тестирование
      %li Система модерации комментариев
      %li Чекбокс "Твитнуть" при создании публикации
  %h3
    = t('.questions')
    = mail_to('davetoxa@gmail.com')
  %br
  = render partial: "shared/disqus"
