.hero-unit
  %h2
    %p.text-info{style: 'margin-top: -40px'}= t('.title')
  %h5
    %ol
      %li Пару слов о технологии и что необходимо для начала
      %li Список требований к блогу, этапы разработки
      %li Создание структуры базы данных, наглядная схема
      %li Создание проекта, установление соединения с БД, Hello World контроллер
      %li Создание миграций, моделей, тестирование моделей
      %li Создание CRUD для постов, тестирование
      %li Вход для администратора, права доступа
      %li Создание контроллера тегов, тестирование
      %li Добавление разметки markdown для постов
      %li Добавление подсветки синтаксиса для постов
      %li Добавление загрузки изображений к постам
      %li Добавление комментариев (скорее всего disqus)
      %li Хук - чекбокс "Твитнуть" при опубликовании новой записи
      %li Добавление соц. кнопок к постам
      %li Добавление поиска для блога
  %h3
    = t('.questions')
    = mail_to('davetoxa@gmail.com')
  %br
  = render partial: "shared/disqus"