.hero-unit
  %h2
    %p.text-info{style: 'margin-top: -40px'}= t('.title')
  .plan.list
    %ol
      %li Пару слов о технологиях, список требований к блогу
      %li Создание проекта, установление соединения с БД, Hello World контроллер
      %li Создание структуры базы данных, создание публикации, тестирование
      %li Создание CRUD для публикаций, тестирование
      %li Добавление разметки markdown для публикаций
      %li Добавление поиска по публикациям
      %li Вход для администратора, права доступа
      %li Создание тегов, контроллера тегов, тестирование
      %li Добавление древовидных комментариев, тестирование
      %li Чекбокс "Твитнуть" при создании публикации
      %hr Так-же хочется раскрыть следующие темы:
      %li Вход через VK, Twitter, Facebook, Github
      %li Система модерации комментариев
      %li ... ваш вариант ...


  %h3
    = t('.questions')
    = mail_to('davetoxa@gmail.com')
  %br
  = render partial: "shared/disqus"
