# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/coverage
/.idea
/config/database.yml
/public/assets
/public/uploads

config/settings.local.yml
config/settings/*.local.yml
config/provision/keys/id_rsa
