= form_for([@post, @post.comments.build], remote: true) do |f|
  = f.text_area :body, placeholder: t('.leave_comment'), class: 'area'
  %p
    =f.submit t(:create), class: 'pure-button pure-button-primary'
