#disqus_thread
  :javascript
    var disqus_shortname = 'davetoxa';
    var disqus_developer = #{ Rails.env == "production" ? '0' : '1' };
    var disqus_title = "#{@page_title}";
    var disqus_identifier = "#{ request.fullpath }";
    (function() {
      var dsq = document.createElement('script'); 
      dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();