.markdown_hints
  %ul
    %li
      %em *this is italic*
    %li
      %strong **this is bold**
    %li [Google](http://google.com)
    %li ![Image title](https://www.google.ru/images/srpr/logo4w.png)
    %li * List item
    %li ```ruby
    %li code
    %li ```
    %li > Blockquote