/*
 *= require_self
 *= require_tree .
 */

.area{
  width: 430px;
  height: 60px;
  border: 1px solid lightgrey;
}

.page.current{
  color: green;
  font-size: 15pt;
}

input.error {
  border-color: red !important;
}

textarea.error{
  border-color: red !important;
}
