.comment{
  padding: 7px 0 7px 0;
  border-bottom: 1px dotted slateblue;
  width: 50%;

  .avatar{
    float:left;
    margin-right: 10px;
  }
  .body{
    line-height: 31px;
  }
  #comment-destroy{
    color: darkgray;
  }
}
