.friendship {
  border-bottom: 1px dotted lightgrey;
}

li.pure-menu-item {
  display: inline-block;
  margin-right: 25px;
}

.pending {
  border-bottom: 1px dotted green;
  a {
    color: green;
  }
}
