.friendship {
  border-bottom: 1px dotted #d3d3d3;
}

li.pure-menu-item {
  display: inline-block;
  margin-right: 25px;
}

.pending {
  border-bottom: 1px dotted #008000;

  a {
    color: #008000;
  }
}
