.alerts{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: -1px;
}
.user{
  margin-top: 70px;
  float:right
}

.author{
  position: absolute;
  margin: 15px 0 0 640px;
  color: #aaa
}
.plan.list{
  margin-left: 15px;
  font-size: 1.1em;
  padding-bottom: 20px;
}