.alerts {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: -1px;
}
.alert-success-links {
  padding: 30px;
  padding-top: 0px;
  font-size: 1.5em;
}
.author {
  position: absolute;
  margin: -10px 0 0 670px;
  color: #aaa
}
.user-link {
  position: absolute;
  margin-left: 830px;
  margin-top: 10px;
  .avatar {
    border-radius: 50%;
  }
}
.plan {
  .list {
    margin-left: 15px;
    font-size: 1.3em;
    padding-bottom: 20px;
    li{
      margin: 10px;
    }
  }
}
