.alerts{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: -1px;
}
.user{
  margin-top: 70px;
  float:right
}
.user-link{
  margin: 10px;
  float:right
}
.avatar{
  border-radius: 50%;
}

.author{
  position: absolute;
  margin: 15px 0 0 640px;
  color: #aaa
}
.plan.list{
  margin-left: 15px;
  font-size: 1.1em;
  padding-bottom: 20px;
}
.alert-success-links{
  padding: 30px;
  padding-top: 0px;
  font-size: 1.5em;
}
