$grey: #999999;
.email.optional{
  color: $grey;
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.intro{
  color: $grey;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.subscribe{
  margin-top: 80px;
}
