$grey: #999999;

input.optional{
  width: 480px;
  height: 40px;
  text-align: center;
}
span.help-inline{
  position: absolute;
  margin: 50px 200px 0 0;
}
.email.optional{
  color: $grey;
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.intro{
  color: $grey;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.subscribe{
  margin-top: 80px;
}
