%h1= t('.title')
- @subscribes.each do |s|
  = s.email
  %hr
= will_paginate @subscribes
%br
%button.pure-button.pure-button-success= link_to t('.subscribe'), new_subscribe_path, class: 'btn btn-success btn'