- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    .alerts
      %div{class: "alert #{flash_class level}"}
        %a.close{href: ''} ×
        = content_tag :p, flash[level]