%footer.footer
  .pure-menu.pure-menu-horizontal.pure-menu-open
    %ul
      %li
        %a{href: 'http://twitter.com/davetoxa', target: '_blank'} Twitter
      %li
        %a{href: 'http://github.com/davetoxa', target: '_blank'} Github